[submodule "DataSUS-Analysis"]
	path = DataSUS-Analysis
	url = https://github.com/Maikoandre/DataSUS-Analysis.git
[submodule "avaliacao_desempenho_libs"]
	path = avaliacao_desempenho_libs
	url = https://github.com/Maikoandre/avaliacao_desempenho_libs.git
[submodule "cosmic_scribe"]
	path = cosmic_scribe
	url = https://github.com/Maikoandre/cosmic_scribe.git
